<!DOCTYPE html>
<html lang="en">
</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40427139-3', 'auto');
  ga('send', 'pageview');

</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/file_upload_button.css">
<link rel="stylesheet" href="static/css/base.css">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="static/javascript/file_upload_button.js"></script>
</head>

<title>voltulator.com - Chevy Volt Calculator</title>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://voltulator.com">
         Voltulator
      </a>
    </div>
  </div>
</nav>

<div class="container">

<div class="col-md-8">
<h3 class="text-group text-center">Calculate your charging costs!</h3>
<br>
<form class="form-horizontal" action="" method=post enctype=multipart/form-data>
        <div class="form-group">
            <label for="gal" class="col-sm-4 control-label">Dollars per Gallon</label>
            <div class="col-md-8">
              <input type="text" class="form-control skinny" id="gal" name="ingas">
            </div>
        </div>
        <div class="form-group">
            <label for="kWhr" class="col-sm-4 control-label">Cents per kWhr</label>
            <div class="col-md-8">
              <input type="text" class="form-control skinny" id="kWhr" name="inelec">
            </div>
        </div>
        <div class="form-group"> 
            <label for="file" class="col-sm-4 control-label">File</label>
            <div class="col-md-8">
            <div class="input-group skinny" id="file">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" name="infile" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <button type=submit class="btn btn-default">Upload</button>
            </div>
         </div>
</form>
</div>

<div class="col-md-4 box">
   <h3>Instructions</h3>
   <ul>
     <li>Login to <a href="http://myvolt.com">myvolt.com</a></li>
     <li>Click: "View Charging Details"</li>
     <li>Select "Last 30 Days" from the drop down menu</li>
     <li>Click: "Download Complete Charge History"</li>
     <li>Upload that file here</li>
   </ul>
<br>
<p class="text-center" style="font-size:10px"><a href="/example">Example at $1.99/gal and 10.7 cents/kWhr</a></p>
</div>

</div>
</html>
