<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/base.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://voltulator.com">
        Voltulator 
      </a>
    </div>
  </div>
</nav>

<br>

<div class="container">
<div class="row">

<div class="col-md-8">
<table class = "table table-striped table-bordered table-condensed">
    <tr>
        <th><h4>Charge Start </h4></th>
        <th><h4>kWhr</h4></th>
        <th><h4>Cost</h4></th>
    </tr>
    {% for t in table %}
        <tr>
        {% for i in t %}
            <td>{{ i }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
<div class="col-md-4">
You spent:
<h3 class="price">{{ totalCost }}</h3>
<br>
Gas only, you would have spent:
<h3 class="price">{{ gasCost }}</h3>
<br>
You spent {{ percent }} the cost of gas!
</div>

</div>
</div>
</html>
